.contact {
    text-align: center;
    h2 {
        font-family: 'Lato-Bold';
    }
    i {
        font-size: 25px;
    }
    input {
        border-radius: 10px;
        color: $inputTextColor;
    }
}
.btn1 {
    text-align: left;
}