#prviID {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    #q1 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

#drugiID {
    font-family: 'Times New Roman', Times, serif;
}
#treciID {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}