.main {
    text-align: center;
    background-color: $greenish;
    color: $whiteColor;

    h1 {
        font-family: 'Lato-Bold';
    }
    p {
        font-family: 'Regular';
    }
    i {
        font-size: 25px;
    }
}